In [1]:
# Импортируем нужные библиотеки
import vk  
import vk_api
import requests
import json
import time 
import datetime
import csv
import pandas as pd

### Функция сбора пользователей по следующим критериям
* country_id  Код страны
* id_city     Код города
* univercity_id  Код универа
* uni_year_id Год выпуска
* school_year
* university_year     Год выпуска
* university_faculty  Идентификатор факультета
* university_chair    Идентификатор кафедры

### Функция сбора факультетов Университета

In [2]:


def get_faculty(access_token):
    university_id =853
    all_faculty = []
    faculty = vk_api.database.getFaculties(access_token=access_token, 
                                university_id = university_id,  
                                v=5.131, 
                                count=1000)
    all_faculty.extend(faculty['items'])
    return all_faculty

In [3]:
if __name__ == "__main__": 
    vk_session = vk_api.VkApi('логин', 'пароль')                              # сюда вписываем почту и пароль
    vk_session.auth(token_only=True)
    vk_api = vk_session.get_api() 
    access_token = 'токен'    # сюда записываем токен id
    university_id = 853
    faculty_tpu = get_faculty(access_token)

In [4]:
df_tpu = pd.DataFrame(faculty_tpu)
df_tpu

         id                                              title
0    132178  Институт международного образования и языковой...
1    132196                Инженерная школа ядерных технологий
2    296831                      Теплоэнергетический факультет
3    309937      Факультет автоматики и вычислительной техники
4    320059                        Электрофизический факультет
5    426471                  Инженерно-экономический факультет
6    564681                   Химико-технологический факультет
7    589528                             Гуманитарный факультет
8    738981                 Электротехнический институт (ЭЛТИ)
9    813535                       Машиностроительный факультет
10  2083306                     Институт электронного обучения
11  2098460                        Инженерная школа энергетики
12  2099402                Инженерная школа природных ресурсов
13  2099403  Инженерная школа новых производственных технол...
14  2099404  Инженерная школа информационных технологий и р...
15  2099405   Инженерная школа неразрушающего контроля и бе...
16  2147486  Школа инженерного предпринимательства (Институ...
17  2217940  Институт развития стратегического партнерства ...
18  2237615  Исследовательская школа физики высокоэнергетич...
19  2237616  Исследовательская школа химических и биомедици...
20  2270288                        Институт природных ресурсов
21  2270289             Институт геологии и нефтегазового дела
22  2270291                               Институт кибернетики
23  2270292                            Энергетический институт
24  2270293                        Физико-технический институт
25  2270294           Факультет естественных наук и математики
26  2270295                   Институт неразрушающего контроля
27  2270296                 Институт физики высоких технологий
28  2270297         Институт социально-гуманитарных технологий
29  2270298                Школа базовой инженерной подготовки
30  2270299          Центр цифровых образовательных технологий
31  2270300                      Факультет физической культуры

### Функция id специальности (кафедры)

In [5]:
def get_chairs(access_token, faculty_id):
    all_chairs = []
    chairs = vk_api.database.getChairs(access_token=access_token, 
                                faculty_id = faculty_id,  
                                v=5.131, 
                                count=1000)
    all_chairs.extend(chairs['items'])
    return all_chairs

In [26]:
faculty_id = 2219115
chairs_tpu = get_chairs(access_token, faculty_id)
df_tpu_ch = pd.DataFrame(chairs_tpu)
df_tpu_ch

         id                                              title
0   2041463                                    Приборостроение
1   2041465                                     Машиностроение
2   2041466                                         Инноватика
3   2041468  Энерго- и ресурсосберегающие процессы химическ...
4   2041469  Технология продукции и организации общественно...
5   2041470                                      Товароведение
6   2041471           Материаловедение и технологии материалов
7   2041472              Технологические машины и производства
8   2041473                        Стандартизация и метрология
9   2041474                               Управление качеством
10  2041475                 Электроэнергетика и электротехника
11  2041476              Технологические машины и оборудование
12  2041477                              Химическая технология
13  2126499                Кафедра «Технология машиностроения»
14  2126500     Кафедра физики, методов контроля и диагностики
15  2126502                        Кафедра «Электроэнергетика»
16  2126503                 Кафедра «Переработка нефти и газа»
17  2126504                     Кафедра «Станки и инструменты»
18  2126505                              Кафедра физвоспитания
19  2126506   Кафедра материаловедения и технологии констру...
20  2126507   Кафедра товароведения и технологии продуктов ...
21  2126508                 Кафедра «Общая и физическая химия»
22  2163214  Конструкторско-технологическое обеспечение маш...
23  2163215                            Электро- и теплотехника
24  2223616                                      Наноматериалы

In [11]:
for x in enumerate(df_tpu_ch['id']):
    print(x[1])

9118
294985
294986
294987
2025525
2067819
2067820
2067821
2214237

In [13]:
faculty_id = 2166855
chairs_tpu = get_chairs(access_token, faculty_id)

In [14]:
df_tpu_ch_1=pd.DataFrame(chairs_tpu)

In [15]:
df_tpu_ch_1

         id                                              title
0   1820527                             Базовая кафедра Яндекс
1   1837260                  Департамент программной инженерии
2   1852091   Кафедра математических методов системного ана...
3   1860853   Департамент анализа данных и искусственного и...
4   1868394   Департамент больших данных и информационного ...
5   1929182    Кафедра технологий моделирования сложных систем
6   2037655           Анализ данных и интеллектуальные системы
7   2037656                              Программная инженерия
8   2037657                Прикладная математика и информатика
9   2037658                                     Науки о данных
10  2037659                  Системная и программная инженерия
11  2037660     Математические методы оптимизации и стохастики
12  2037661                Анализ данных в биологии и медицине
13  2156940                           Прикладной анализ данных
14  2157476                     Статистическая теория обучения
15  2185947              Финансовые технологии и анализ данных
16  2185948                         Системное программирование
17  2226678                      Математика машинного обучения
18  2227147                     Современные компьютерные науки

In [13]:
df_university = pd.read_excel('TPUtest.xlsx')

## Парсинг `USER_ID` по году выпуска с направления " Прикладная информатика"
### за период с 2013 по 2022

In [11]:
def search_users1(access_token, year):  # Функция формирования базы участников сообщества в виде списка
    
    ''' В качестве аргумента функции будет подаваться:
    массив года выпуска из школы и id университета'''
    user_infor_list = []
    for grad_year in year:
        for i in range(len(df_university)):
            first = vk_api.users.search(access_token=access_token, 
                                    university= df_university['university'][i], 
                                    university_faculty = df_university['university_faculty'][i],
                                    university_chair = df_university['university_chair'][i],
                                    university_year = grad_year,
                                    v=5.131, 
                                    count=1000)
            user_infor_list.extend(first['items'])
        
            user_list = []
            for i in range(len(user_infor_list)):
                user_list.append(user_infor_list[i])                 # Получили JSON
    
    df_infor = pd.DataFrame(user_list)                           # Создаем датафрейм из JSON
    
    df_infor = df_infor.query('is_closed == False')               # Фильтруем по открытости страниц
    
    df_no_duplicates = df_infor.drop_duplicates('id', keep='last') # убираем дубликаты из ДФ и записываем в новый ДФ
    
    df_no_duplicates.reset_index(inplace=True)                      # сбрасываем индексацию для беребора в цикле
    
    series_year = df_no_duplicates['id']                           # получаем серию выпускников с 18 года по 21 год


    return series_year

In [14]:
year = [n for n in range(2013,2023)]
graduate_year = search_users1(access_token, year)

In [15]:
graduate_year.to_csv('user_idPRIK_MATH.txt', index=False)

In [16]:
graduate_year_series = pd.read_csv('user_idPRIK_MATH.txt')

In [17]:
graduate_year_series

            id
0     34295316
1      8341691
2    217769014
3     40466312
4    524963570
..         ...
882  174673586
883   54089661
884   87633036
885  528934169
886  272820969

[887 rows x 1 columns]

## Функция получения списка групп по activity. Если сообщество - выодится его тематика "activity" если группа выводится открытая или закрытая.

 Для каждого участника будет выведено 10 групп. Если количество групп, состоящих меньше или пользователь запретил просмотр его групп просто пропускаем. Это делается путем обработки исключений `try / except`

In [18]:
def groups_id(access_token, series): 
    all_groups = []
    for user_id in series:
        time.sleep(1)
        groups = vk_api.groups.get(access_token=access_token, 
                                   user_id= user_id, 
                                   extended =1, 
                                   count=10, 
                                   fields = ['activity', 'description'], 
                                   v=5.131)        
        all_groups.extend(groups['items'])
        alist= []
        for i in range(len(series)):                # Пробегаем циклом собираем группы по 10 штук
            for j in range(10):
                alist.append(i)
    try:
        for z,k in enumerate(alist):
            all_groups[z]['id'] = series[k]         # Каждой группе присваиваем id участника и его activity
    except:
        pass
    return all_groups

In [19]:
group_grad_10 = groups_id(access_token, graduate_year)

In [20]:
df_group_10 = pd.DataFrame(group_grad_10)
df_group_10

,id,description,activity,name,screen_name,is_closed,type,is_admin,is_member,is_advertiser,photo_50,photo_100,photo_200,deactivated
0,34295316,"Познавательные мемы, широкий охват тем, уникал...",Юмор,Мемуары ценителей научных мемов,sciencemem,0,page,0.0,0.0,0.0,https://sun1-99.userapi.com/s/v1/if1/RPG6zYS-Q...,https://sun1-99.userapi.com/s/v1/if1/zmBL5p0ot...,https://sun1-99.userapi.com/s/v1/if1/HPz6iM3rL...,NaN
1,34295316,"Мемы про инвестиции и трейдинг, и не только",Финансы,Рофлы с Волк Стрит,roflwolf,0,page,0.0,0.0,0.0,https://sun1-14.userapi.com/s/v1/ig2/pphRS0xZB...,https://sun1-14.userapi.com/s/v1/ig2/FndZx16-G...,https://sun1-14.userapi.com/s/v1/ig2/-4Z3iAEYy...,NaN
2,34295316,Консультант. Автор. Спикер. \n\nТемы: Маркетин...,Предприниматель или предпринимательница,Игорь Манн. Официальная страница,mann_igor,0,page,0.0,0.0,0.0,https://sun1-91.userapi.com/s/v1/ig2/DR_esg901...,https://sun1-91.userapi.com/s/v1/ig2/dwjL2guyY...,https://sun1-91.userapi.com/s/v1/ig2/uABMbgVZC...,NaN
3,34295316,,Образование,Wild Mathing,wildmathing,0,page,0.0,0.0,0.0,https://sun1-14.userapi.com/s/v1/if1/1R_MFFIB3...,https://sun1-14.userapi.com/s/v1/if1/9u9ER3vWz...,https://sun1-14.userapi.com/s/v1/if1/Rl870yra-...,NaN
4,34295316,"Для школьников и их родителей, для учителей и ...",Образование,Math–Досуг,math_dosug,0,page,0.0,0.0,0.0,https://sun1-14.userapi.com/s/v1/if1/-vX7bcgYj...,https://sun1-14.userapi.com/s/v1/if1/M93rCSMg0...,https://sun1-14.userapi.com/s/v1/if1/4mH-EGkex...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7675,11094314,Паблик об искусстве и поп-культуре.\n\nСамые г...,Книга,I N F I N I T Y ∞,1nfinity,0,page,0.0,0.0,0.0,https://sun1-27.userapi.com/s/v1/ig2/FcjU14Vp3...,https://sun1-27.userapi.com/s/v1/ig2/iVeMz32d6...,https://sun1-27.userapi.com/s/v1/ig2/eIU54AAU0...,NaN
7676,11094314,Внимание! Если вас просят перевести деньги за ...,Творчество,ТФП Оренбург | TFP Orenburg,tfporenburg,0,page,0.0,0.0,0.0,https://sun1-23.userapi.com/s/v1/if1/4rzn_zzNe...,https://sun1-23.userapi.com/s/v1/if1/Hnac2FSxv...,https://sun1-23.userapi.com/s/v1/if1/B6HXFVGxd...,NaN
7677,11094314,Лучший паблик во Вселенной,Сайты,НОВОТРОИЦК,nok_overheard,0,page,0.0,0.0,0.0,https://sun1-94.userapi.com/s/v1/ig2/GGq4NPP2Z...,https://sun1-94.userapi.com/s/v1/ig2/MkG7ABeqg...,https://sun1-94.userapi.com/s/v1/ig2/K1ukvxnmC...,NaN
7678,11094314,,Юмор,Реально смешно,onovoe,0,page,0.0,0.0,0.0,https://sun1-84.userapi.com/s/v1/if1/u8C5xTaIH...,https://sun1-84.userapi.com/s/v1/if1/Ocwou_1f3...,https://sun1-84.userapi.com/s/v1/if1/SH1XqwHx6...,NaN
7679,11094314,Британские ученые рекомендуют подписаться на э...,Наука,"Наука и факты | Что будет, если...?",chto.budet.esli,0,page,0.0,0.0,0.0,https://sun1-56.userapi.com/s/v1/ig1/n3yQhKMWg...,https://sun1-56.userapi.com/s/v1/ig1/esR0FZUuD...,https://sun1-56.userapi.com/s/v1/ig1/dtTP1S7pw...,NaN

In [21]:
df_group_10.columns

Index(['id', 'description', 'activity', 'name', 'screen_name', 'is_closed',
       'type', 'is_admin', 'is_member', 'is_advertiser', 'photo_50',
       'photo_100', 'photo_200', 'deactivated'],
      dtype='object')

In [22]:
df_need = df_group_10[['id', 'description', 'activity', 'name', 'screen_name']]
df_need

,id,description,activity,name,screen_name
0,34295316,"Познавательные мемы, широкий охват тем, уникал...",Юмор,Мемуары ценителей научных мемов,sciencemem
1,34295316,"Мемы про инвестиции и трейдинг, и не только",Финансы,Рофлы с Волк Стрит,roflwolf
2,34295316,Консультант. Автор. Спикер. \n\nТемы: Маркетин...,Предприниматель или предпринимательница,Игорь Манн. Официальная страница,mann_igor
3,34295316,,Образование,Wild Mathing,wildmathing
4,34295316,"Для школьников и их родителей, для учителей и ...",Образование,Math–Досуг,math_dosug
...,...,...,...,...,...
7675,11094314,Паблик об искусстве и поп-культуре.\n\nСамые г...,Книга,I N F I N I T Y ∞,1nfinity
7676,11094314,Внимание! Если вас просят перевести деньги за ...,Творчество,ТФП Оренбург | TFP Orenburg,tfporenburg
7677,11094314,Лучший паблик во Вселенной,Сайты,НОВОТРОИЦК,nok_overheard
7678,11094314,,Юмор,Реально смешно,onovoe
7679,11094314,Британские ученые рекомендуют подписаться на э...,Наука,"Наука и факты | Что будет, если...?",chto.budet.esli

In [23]:
df_group_10.to_csv('id_act.csv', sep=',')

In [37]:
df_need1 = df_need.copy()
df_need1 = df_need1.replace({'Открытая группа' : ''})
df_need2 = df_need1.copy()
df_need2 = df_need2.replace({'\n\n' : ' '})
df_need2['description'][7699]
df_need2.to_csv('df_need.csv')

In [24]:
df_group_10[['activity', 'name', 'screen_name']].to_csv('act_name.csv', sep=',')

### Производим транспонирование датафрейма. По id в качестве колонок будут, колонки с activity от одного до 10. Если пользователь состоит в количестве групп меньше 10, то значения будут заполняться `nAn`

In [25]:
# df по активити
df_group_got = df_group_10.assign(idx=(df_group_10.groupby("id").cumcount()+1)      \
                                 .astype(str).str.replace("^(.)", "activity_\\1", regex=True)) \
                                 .pivot(index="id", columns="idx", values="activity")
df_group_n1 = df_group_got.reset_index()
df_group_n1
df_group_n1.to_csv('dfact.csv', sep=',')

In [26]:
# df по name
df_group_got_name = df_group_10.assign(idx=(df_group_10.groupby("id").cumcount()+1)      \
                                 .astype(str).str.replace("^(.)", "name_\\1", regex=True)) \
                                 .pivot(index="id", columns="idx", values="name")
df_group_name1 = df_group_got_name.reset_index()
df_group_name1

idx,id,name_1,name_10,name_2,name_3,name_4,name_5,name_6,name_7,name_8,name_9
0,67177,Академия Яндекса,$$$ DANK MEMES $$$ AYY LMAO $$$,Институт информатики и кибернетики | Прием,SimbirSoft Team,Настоящие шутки-абсурдки,"Кафедра мемологии ""Самарский Университет""",«Самокат» | Медиа Самарского университета,n.k_smr | Украшения ручной работы,Цитатник СНИУ им. Королёва,perfо́rmance
1,120886,Endless Balcony,Лайфхаки,рыгающие коты,Norave,The Church of St. Beobanka,обратный,Отсталые в развитии коты,Just Story,Пикабу,Save pic
2,213176,Программирование ITmozg:,Mr. Freeman | Мистер Фриман | Сообщество,Star Wars,Фан-клуб «Что? Где? Когда?»,База вопросов игры Что? Где? Когда?,че,Типичный программист,Metal family,Чердак - крафтовые изделия из дерева,Яндекс
3,625027,ЧС УФА,История Уфы и Башкортостана | Старые фотографии,Just Video,Английский для лентяев,Лепрозорий,Интересная Уфа | Новости Уфы и Башкирии,БашДТП | Уфа и Башкортостан,Загадки Эйнштейна,"Школьная Дума МАОУ ""Гимназия №47""",Типичный ОНФ
4,662983,Газета.Ru,Всероссийское созидательное движение Русский Лад,Естественные науки [natural sciences],Русская Цивилизация и Россия. КОБ + Правдозор,Томский государственный университет | ТГУ,"ЭКОНОМИКА, ПОЛИТИКА, ОБЩЕСТВО, УПРАВЛЕНИЕ",noname,ДРУГАЯ РОССИЯ Э.В.ЛИМОНОВА,СВОБОДНЫЕ БЛОГИ,== Математики ==
...,...,...,...,...,...,...,...,...,...,...,...
763,695387760,Кульtура 2000-х,Шедевры рекламы,Киномания ► Лучшие фильмы,"""Научные"" анекдоты",Типичный программист,Comic-Con,Трансферы,Туманный Альбион | АПЛ,СИЛА,Удивительный журнал о природе и путешествиях
764,705916832,Та самая ведьма | Witch | Эзотерика,Personal Witches,Книги,КНИГИ,Шедевры литературы | книги,Лепра,Казань | Казань. Куда пойти?,Сахарок,Леонардо Дайвинчик,Стихи | Милена Райт ©
765,706399015,"Бизнес, успех, мотивация. Умный журнал.",MDK,Бизнес Идеи!,Бизнес Мотивация,Работа в Москве,БИЗНЕС ИДЕИ,Работа в Санкт-Петербурге | СПб,БОРЩ,Подслушано – Здесь говорят о тебе,Орленок
766,708205129,ищу работу иваново,Яндекс для разработчиков,ищу работу работу в курске,Работа на дому Рубцовск,Объявления Электросталь Железнодорожный Серпухов,Шахты Барахолка,Работа Мытищи | Пушкино | Сергиев Посад,ЦМФ,VK Джуниор,Академия Яндекса
767,731742031,MattBlack52 - Детейлинг студия,There Is No Light,The Brain | блог об умном,4PDA.ru | официальная группа,[Online Films],Студент Инженер,"Геймдев, который мы заслужили",DNVR prod,Про Дизайн уровней,Дом потерянных игр

In [27]:
df_group_name1.to_csv('dfname.csv', sep=',')

# Получаем информацию о ЮЗЕРАХ 
### В след раз брать отсюда

In [28]:
df_group = pd.read_csv('dfname.csv', sep =',')
df_group['id']

0          67177
1         120886
2         213176
3         625027
4         662983
         ...
763    695387760
764    705916832
765    706399015
766    708205129
767    731742031
Name: id, Length: 768, dtype: int64

* faculty_name (string)— название факультета;
* sex 1 - женский 2 - мужской 3 - не указан

In [29]:
def users_info(access_token, series):  # Функция формирования базы участников сообщества в виде списка
    all_users = []
    for user_id in series:
        time.sleep(1)
        users_get = vk_api.users.get(access_token=access_token, 
                                   user_id= user_id,  
                                   fields = ['education', 'sex', 'interests', 'city', 'bdate','followers_count' ],
                                   v=5.89)
        all_users.append(users_get)
        
        users_list = []
    for i in range(len(all_users)):
        users_list.append(all_users[i][0])
    df_users_info = pd.DataFrame(users_list)                # создаем датафрейм
    return df_users_info

In [30]:
user_series = df_group['id']
user_series

0          67177
1         120886
2         213176
3         625027
4         662983
         ...
763    695387760
764    705916832
765    706399015
766    708205129
767    731742031
Name: id, Length: 768, dtype: int64

In [31]:
df_users_info =  users_info(access_token, user_series)

In [32]:
df_users_info

,id,city,followers_count,sex,first_name,last_name,can_access_closed,is_closed,bdate,interests,university,university_name,faculty,faculty_name,graduation,education_form,education_status
0,67177,"{'id': 2, 'title': 'Санкт-Петербург'}",47,2,Андрей,Новиков,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,120886,"{'id': 1, 'title': 'Москва'}",221,1,Юлия,Чезганова,True,False,10.8.1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,213176,"{'id': 61, 'title': 'Калининград'}",1744,1,Анастасия,Кулагина,True,False,29.7.1988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,625027,"{'id': 60, 'title': 'Казань'}",1036,1,Динара,Гиниятова,True,False,4.4,"Математика, программирование, виниловые пласти...",527.0,КФУ (бывш. КГУ им. Ульянова-Ленина),2263268.0,Механико-математический факультет,0.0,Очное отделение,Выпускница (специалист)
4,662983,"{'id': 1054308, 'title': 'Домодедово'}",690,1,Анастасия,Коновалова,True,False,28.1.1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
763,695387760,NaN,0,2,Артём,Пересчук,True,False,15.2.1998,,2.0,МГУ,23.0,Факультет вычислительной математики и кибернетики,2017.0,Очное отделение,Выпускник (бакалавр)
764,705916832,NaN,4,2,Krosbrand,Ru,True,False,3.10,,853.0,ТПУ,132196.0,Инженерная школа ядерных технологий,2019.0,Очное отделение,Студент (бакалавр)
765,706399015,"{'id': 60, 'title': 'Казань'}",2,2,Альберт,Алов,True,False,16.11.1992,,527.0,КФУ (бывш. КГУ им. Ульянова-Ленина),2886.0,Институт вычислительной математики и информаци...,2014.0,Очное отделение,NaN
766,708205129,NaN,17,1,Алёна,Черкасова,True,False,13.9.1989,,338.0,РУДН,1513.0,Факультет физико-математических и естественных...,2012.0,Очное отделение,Выпускница (бакалавр)
767,731742031,NaN,2,1,Ирина,Зернова,True,False,9.7.1994,,269.0,НИЯУ МИФИ,2217041.0,Институт интеллектуальных кибернетических систем,2017.0,Очное отделение,Выпускница (бакалавр)

In [33]:
df_users_info.to_csv('usersinfo_tpu2807.csv', sep=',')

In [19]:
df = df_users.copy()

In [21]:
df

,Unnamed: 0,id,city,sex,first_name,last_name,can_access_closed,is_closed,interests,university,university_name,faculty,faculty_name,graduation,education_form,education_status
0,0,67177,"{'id': 2, 'title': 'Санкт-Петербург'}",2,Андрей,Новиков,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,120886,"{'id': 1, 'title': 'Москва'}",1,Юлия,Чезганова,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,213176,"{'id': 61, 'title': 'Калининград'}",1,Анастасия,Кулагина,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,625027,"{'id': 60, 'title': 'Казань'}",1,Динара,Гиниятова,True,False,"Математика, программирование, виниловые пласти...",527.0,КФУ (бывш. КГУ им. Ульянова-Ленина),2263268.0,Механико-математический факультет,0.0,Очное отделение,Выпускница (специалист)
4,4,662983,"{'id': 1054308, 'title': 'Домодедово'}",1,Анастасия,Коновалова,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
765,765,695387760,NaN,2,Артём,Пересчук,True,False,NaN,2.0,МГУ,23.0,Факультет вычислительной математики и кибернетики,2017.0,Очное отделение,Выпускник (бакалавр)
766,766,705916832,NaN,2,Krosbrand,Ru,True,False,NaN,853.0,ТПУ,132196.0,Инженерная школа ядерных технологий,2019.0,Очное отделение,Студент (бакалавр)
767,767,706399015,"{'id': 60, 'title': 'Казань'}",2,Альберт,Алов,True,False,NaN,527.0,КФУ (бывш. КГУ им. Ульянова-Ленина),2886.0,Институт вычислительной математики и информаци...,2014.0,Очное отделение,NaN
768,768,708205129,NaN,1,Алёна,Черкасова,True,False,NaN,338.0,РУДН,1513.0,Факультет физико-математических и естественных...,2012.0,Очное отделение,Выпускница (бакалавр)
769,769,731742031,NaN,1,Ирина,Зернова,True,False,NaN,269.0,НИЯУ МИФИ,2217041.0,Институт интеллектуальных кибернетических систем,2017.0,Очное отделение,Выпускница (бакалавр)

In [81]:
df['city']=df['city'].astype('str')
df

,Unnamed: 0,id,city,sex,first_name,last_name,can_access_closed,is_closed,interests,university,university_name,faculty,faculty_name,graduation,education_form,education_status,city_new
0,0,67177,"{'id': 2, 'title': 'Санкт-Петербург'}",2,Андрей,Новиков,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Санкт-Петербург
1,1,120886,"{'id': 1, 'title': 'Москва'}",1,Юлия,Чезганова,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Москва
2,2,213176,"{'id': 61, 'title': 'Калининград'}",1,Анастасия,Кулагина,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Калининград
3,3,625027,"{'id': 60, 'title': 'Казань'}",1,Динара,Гиниятова,True,False,"Математика, программирование, виниловые пласти...",527.0,КФУ (бывш. КГУ им. Ульянова-Ленина),2263268.0,Механико-математический факультет,0.0,Очное отделение,Выпускница (специалист),Казань
4,4,662983,"{'id': 1054308, 'title': 'Домодедово'}",1,Анастасия,Коновалова,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Домодедово
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
765,765,695387760,nan,2,Артём,Пересчук,True,False,NaN,2.0,МГУ,23.0,Факультет вычислительной математики и кибернетики,2017.0,Очное отделение,Выпускник (бакалавр),None
766,766,705916832,nan,2,Krosbrand,Ru,True,False,NaN,853.0,ТПУ,132196.0,Инженерная школа ядерных технологий,2019.0,Очное отделение,Студент (бакалавр),None
767,767,706399015,"{'id': 60, 'title': 'Казань'}",2,Альберт,Алов,True,False,NaN,527.0,КФУ (бывш. КГУ им. Ульянова-Ленина),2886.0,Институт вычислительной математики и информаци...,2014.0,Очное отделение,NaN,Казань
768,768,708205129,nan,1,Алёна,Черкасова,True,False,NaN,338.0,РУДН,1513.0,Факультет физико-математических и естественных...,2012.0,Очное отделение,Выпускница (бакалавр),None
769,769,731742031,nan,1,Ирина,Зернова,True,False,NaN,269.0,НИЯУ МИФИ,2217041.0,Институт интеллектуальных кибернетических систем,2017.0,Очное отделение,Выпускница (бакалавр),None

In [82]:
df.fillna(0)

,Unnamed: 0,id,city,sex,first_name,last_name,can_access_closed,is_closed,interests,university,university_name,faculty,faculty_name,graduation,education_form,education_status,city_new
0,0,67177,"{'id': 2, 'title': 'Санкт-Петербург'}",2,Андрей,Новиков,True,False,0,0.0,0,0.0,0,0.0,0,0,Санкт-Петербург
1,1,120886,"{'id': 1, 'title': 'Москва'}",1,Юлия,Чезганова,True,False,0,0.0,0,0.0,0,0.0,0,0,Москва
2,2,213176,"{'id': 61, 'title': 'Калининград'}",1,Анастасия,Кулагина,True,False,0,0.0,0,0.0,0,0.0,0,0,Калининград
3,3,625027,"{'id': 60, 'title': 'Казань'}",1,Динара,Гиниятова,True,False,"Математика, программирование, виниловые пласти...",527.0,КФУ (бывш. КГУ им. Ульянова-Ленина),2263268.0,Механико-математический факультет,0.0,Очное отделение,Выпускница (специалист),Казань
4,4,662983,"{'id': 1054308, 'title': 'Домодедово'}",1,Анастасия,Коновалова,True,False,0,0.0,0,0.0,0,0.0,0,0,Домодедово
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
765,765,695387760,nan,2,Артём,Пересчук,True,False,0,2.0,МГУ,23.0,Факультет вычислительной математики и кибернетики,2017.0,Очное отделение,Выпускник (бакалавр),0
766,766,705916832,nan,2,Krosbrand,Ru,True,False,0,853.0,ТПУ,132196.0,Инженерная школа ядерных технологий,2019.0,Очное отделение,Студент (бакалавр),0
767,767,706399015,"{'id': 60, 'title': 'Казань'}",2,Альберт,Алов,True,False,0,527.0,КФУ (бывш. КГУ им. Ульянова-Ленина),2886.0,Институт вычислительной математики и информаци...,2014.0,Очное отделение,0,Казань
768,768,708205129,nan,1,Алёна,Черкасова,True,False,0,338.0,РУДН,1513.0,Факультет физико-математических и естественных...,2012.0,Очное отделение,Выпускница (бакалавр),0
769,769,731742031,nan,1,Ирина,Зернова,True,False,0,269.0,НИЯУ МИФИ,2217041.0,Институт интеллектуальных кибернетических систем,2017.0,Очное отделение,Выпускница (бакалавр),0

In [109]:
def city(x):
    for i in x:
        if x == 'nan':
            continue
        else:
            y = eval(x)['title']
            return y

In [42]:
import numpy as np
df['city_new'] = (df["city"]
                     .apply(lambda x: x.get("title") 
                                      if isinstance(x, dict) 
                                      else np.nan))

In [110]:
df['city_new']= df["city"].apply(lambda x: city(x))
df['city_new'][0]

'Санкт-Петербург'

In [86]:
df[df['city_new'] != 0]

,Unnamed: 0,id,city,sex,first_name,last_name,can_access_closed,is_closed,interests,university,university_name,faculty,faculty_name,graduation,education_form,education_status,city_new
0,0,67177,"{'id': 2, 'title': 'Санкт-Петербург'}",2,Андрей,Новиков,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Санкт-Петербург
1,1,120886,"{'id': 1, 'title': 'Москва'}",1,Юлия,Чезганова,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Москва
2,2,213176,"{'id': 61, 'title': 'Калининград'}",1,Анастасия,Кулагина,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Калининград
3,3,625027,"{'id': 60, 'title': 'Казань'}",1,Динара,Гиниятова,True,False,"Математика, программирование, виниловые пласти...",527.0,КФУ (бывш. КГУ им. Ульянова-Ленина),2263268.0,Механико-математический факультет,0.0,Очное отделение,Выпускница (специалист),Казань
4,4,662983,"{'id': 1054308, 'title': 'Домодедово'}",1,Анастасия,Коновалова,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Домодедово
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
765,765,695387760,nan,2,Артём,Пересчук,True,False,NaN,2.0,МГУ,23.0,Факультет вычислительной математики и кибернетики,2017.0,Очное отделение,Выпускник (бакалавр),None
766,766,705916832,nan,2,Krosbrand,Ru,True,False,NaN,853.0,ТПУ,132196.0,Инженерная школа ядерных технологий,2019.0,Очное отделение,Студент (бакалавр),None
767,767,706399015,"{'id': 60, 'title': 'Казань'}",2,Альберт,Алов,True,False,NaN,527.0,КФУ (бывш. КГУ им. Ульянова-Ленина),2886.0,Институт вычислительной математики и информаци...,2014.0,Очное отделение,NaN,Казань
768,768,708205129,nan,1,Алёна,Черкасова,True,False,NaN,338.0,РУДН,1513.0,Факультет физико-математических и естественных...,2012.0,Очное отделение,Выпускница (бакалавр),None
769,769,731742031,nan,1,Ирина,Зернова,True,False,NaN,269.0,НИЯУ МИФИ,2217041.0,Институт интеллектуальных кибернетических систем,2017.0,Очное отделение,Выпускница (бакалавр),None

In [87]:
df = df.fillna(0)

In [90]:
df1 = df[df['city_new'] != 0]

In [95]:
df1.groupby('sex').agg({'city_new' : 'count'})

     city_new
sex
1         221
2         426

## Получение полной инфы по группам

In [5]:
# Загрузим датасет и выдернем с него серию групп с которых будем получать activity и description

df_gr = pd.read_csv('id_act.csv')

In [10]:
series_group = df_gr['id'].unique()

In [12]:
# Функция получения инфы по группам
def groups_id_info(access_token, series): 
    all_groups = []
    for group_id in series:
        time.sleep(1)
        groups = vk_api.groups.getById(access_token=access_token, 
                                   group_id= group_id, 
                                   fields = ['activity', 'description'], 
                                   v=5.131)        
        all_groups.extend(groups['items'])
        alist= []
        for i in range(len(series)):                # Пробегаем циклом собираем группы по 10 штук
            for j in range(10):
                alist.append(i)
    try:
        for z,k in enumerate(alist):
            all_groups[z]['id'] = series[k]         # Каждой группе присваиваем id участника и его activity
    except:
        pass
    return all_groups